.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}
