.footer-container {
  text-align: center;
  align-self: stretch;
  background-color: #cbd5e1;
  margin-bottom: 64px;
}
.footer-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
}
